//- 
//- MASTER TEMPLATE
//- 
//- Jade doesn't support dynamic includes so partials aren't as clean.
//- We replace some includes with mixins for that purpose.

//- Sections Array
//- id / spelled out name / url
- var sections = [{"id" : "home", "name" : "home", "url" : "/"},{"id" : "cpg", "name" : "cpg brands", "url" : "/solutions-cpg"}, {"id" : "retailers", "name" : "retailers", "url" : "/solutions-retailers"},{"id" : "smartlabel", "name" : "smartlabel", "url" : "/solutions-cpg/smartspec-smartlabel"},{"id" : "about", "name" : "about", "url" : "/about"},{"id" : "blog", "name" : "blog", "url" : "#"},{"section" : "login", "name" : "login", "url" : "#"}]

//- Receive Variables from View
block vars
	- var current_section = 'home' //- Current section (default home)
	- var page_type //- Adds a class to body for page type (home, product-category, product-detail)

//- Include mixins
include /_includes/mixins.pug

doctype html
html
	include /_includes/head.pug

	//- Adds classes for section and template type to body
	body(class=page_type + " " + current_section)
	
		+navigation()

		block content

		include /_includes/footer.pug