//- 
//- MASTER TEMPLATE
//- 
//- Jade doesn't support dynamic includes so partials aren't as clean.
//- We replace some includes with mixins for that purpose.

//- Receive Variables from View
block vars
	- var current_section = 'home' //- Current section (default home)
	- var page_type //- Adds a class to body for page type (home, product-category, product-detail)

//- Include mixins
include /_includes/mixins.pug

doctype html
html
	include /_includes/head.pug

	//- Adds classes for section and template type to body
	body(class=page_type + " " + current_section)
	
		include /_includes/nav_top.pug

		block content

		include /_includes/footer.pug