//- This is the default template used in all pages.
include /_includes/mixins.pug
doctype html
html
	include /_includes/head.pug

	body
		include /_includes/navigation.pug

		block content

		include /_includes/footer.pug