//- This is the home template.
//- Include mixins
include /_includes/mixins.pug

doctype html
html
	block current_item
		- var selected = 'home'; // Default

	include /_includes/head.pug

	body.home
		include /_includes/navigation.pug

		block content

		include /_includes/footer.pug