//- This is the product category template.
//- Include mixins
include /_includes/mixins.pug
//-
doctype html
html
	include /_includes/head.pug

	body.product-category
		include /_includes/navigation.pug

		block content

		include /_includes/footer.pug