//
// Global
//

// Customize Buttons
.btn {
	margin-top: $line-height-computed;
	border-radius: 100px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;

	@include mq($until: tablet) {
		display: block;
		
	}

	@include mq($from: tablet) {
		padding-left: 2em;
		padding-right: 2em;
	}

	@include mq($from: desktop) {
		padding-left: 3em;
		padding-right: 3em;
	}

	&.btn-primary {
		margin-top: $line-height-computed*2;
	}
}

// FAQ
.question {
	@include make-row();
	// display: inline-block;
	padding-bottom: 3em;
	border-bottom: 1px solid $gray-lighter;

	&:not(:first-child) {
		margin-top: 5em;
	}


	@include mq($from: tablet) {
	    padding-bottom: 3em;
	}

	h3 {
		margin-top: 0;
		display: inline-block;
		// @include make-sm-column(5);
		@include make-md-column(5);
		font-size: $font-size-h4;
	}

	p {
		display: inline-block;
		// @include make-sm-column(6);
		@include make-md-column(7);
	}
}

//
// Footer
//
.nav-footer {
	background-color: #373D46;
	color: #fff;

	.logo {
		@include mq($until: tablet) {
			text-align: center;
			margin: $line-height-computed*2 0;
		}
		@include mq($from: tablet) {
			img {
				@include img-responsive();
			}
		}
		@include make-sm-column(2);
	}

	// Every UL is a column with border on the left
	ul {
		@include make-xs-column(4);
		@include make-sm-column(2);
		list-style-type: none;
		// @include list-unstyled();

		// border-left: 1px solid #555;
	}
}

//
// Navigation Menu
// ===============
// This is the top menu bar. It uses classes from the .menu class which is re-used in the about pages.
// 
//

#nav_top {
	@include container-fixed();
    position: fixed; // menu follows on mobile
	top: 0;
	z-index: 999;
	text-align: center;
	width: 100%;
	background: #fff; //rgba(255,255,255,0.96);
	box-shadow: 0 0.4em 0.8em 0em rgba(0,0,0,0.2);

    @include mq($from: tablet){
    	top: $line-height-computed*2;
		position: absolute; // make menu fixed after tablet
		
		// Center div horizontally with CSS3
	    left: 50%;
	    transform: translate(-50%, 0);
	    width: $container-sm;

	    background: none;
	    box-shadow: none;
    }

    @include mq($from: desktop) {
	    top: $line-height-computed*3;
	    width: $container-md;
	}

	header {
		min-height: 3.5em;
		background: url('/images/li_logo_horizontal.svg') 20px 50% no-repeat;
		background-size: 50%;

		@include mq(mobileLandscape) {
			background-size: 30%;
		}

		@include mq($from: tablet) {
			min-height: 0;
			margin-bottom: $line-height-computed*3;
			background: none;
		}

		@include mq($from: desktop) {
			margin-bottom: 0;
		}
	}

	.logo {
		@include make-xs-column(6);
		@include make-sm-column-offset(3);
		@include make-md-column(3);
		@include make-md-column-offset(0);

		img {
			@include img-responsive();
			display: none;
			margin-left: auto;
			margin-right: auto;

			@include mq($from: tablet) {
				display: block;
			}
		}

		@include mq($from: desktop) {

			// Resets margin on > desktop
			margin-bottom: 0;
		}
	}

	//
	// Hamburger button for mobile nav
	//
	.hamburger {
		font-size: 1.4em;
		margin-top: 0.4em;
		text-align: right;

		@include make-xs-column(2);
		@include make-xs-column-offset(4);

		@include mq($from: tablet) {
			display: none;
		}
	}

	// Customize the top nav-specific menu stuff
	.menu {
		margin-bottom: 0;
		display: none; // begin hidden on mobile
		
		@include mq($from: tablet){
			display: table; // distribute items evenly on tablet screens (step 1)
			background-color: transparent;
		}

		// Customize menu items
		> li {
			@include mq($from: tablet){
				display: table-cell; // distribute items evenly on tablet screens (step 2)
				width: percentage(100/6 * 0.01); // (100 / total menu items)% distribute evenly (step 3)
				margin-left: 1em;
				padding-top: 0;
				padding-left: 5px;
				padding-right: 5px;
				border: 0;
			}

			@include mq($from: desktop) {
				display: inline-block; // Resets for standard right-alignment
				width: auto; // Resets for standard right-alignment
			}

			@include mq(mobileLandscape) {
				padding-top: 8px;
				padding-bottom: 8px;
			}

			a, a:visited {
				text-decoration: none;
				color: $menu-link;

				@include mq($from: tablet) {
					padding-bottom: 1.2em;
				}
			}

			a:hover, a:active {
				text-decoration: none;
				color: $brand-primary-darker;
			}
		}
		

		@include mq($from: tablet) {
			display: table; // return to "table" for even distribution of items
		}

		@include mq($from: desktop) {
			width: auto; // Resets for standard right-alignment
			float: right;
		}
	}

	// Hide the "home" nav item on everything but mobile
	.nav-home {
		@include mq($from: tablet){
			display: none !important;
		}
	}
}

// Home
.home {
	.pane-top {
		@include mq($until: tablet){
			background:
				linear-gradient(
				  rgba(55, 60, 70, 0.55), 
				  rgba(55, 60, 70, 0.55)
				),
				url("/images/illustration_1A.png") center bottom / 200% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;
		}
		@include mq($from: tablet){
			background:
				linear-gradient(
				  rgba(55, 60, 70, 0.55), 
				  rgba(55, 60, 70, 0.55)
				),
				url("/images/illustration_1A.png") center bottom / 80% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;
		}
		@include mq($from: desktop){
			background:
				url("/images/illustration_1A.png") left 0 bottom 0 / 60% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;
		}
		@include mq($from: wide){
			background:
				url("/images/illustration_1A.png") left 0 bottom 0 / 50% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;

			h1 {
				font-size: 48px;
				font-weight: 600;
			}
		}

		.description {
			@include make-md-column(6);
			@include make-md-column-offset(6);
			@include make-lg-column(7);
			@include make-lg-column-offset(5);

			text-align: left;
		}
	}
}

.pane {
	//
	// Product displays
	.product {
		display: inline-block;
		margin-bottom: $line-height-computed;
	}

	.product-left {
		.illustration {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
			@include make-sm-column(6);
			@include make-sm-column-offset(0);	// Reset offset

			@include mq(mobileLandscape) {
				width: 50%;
			}
		}

		.description {
			@include make-xs-column(12);		// On mobile make row after image
			@include make-sm-column(6);
		}
	}

	.product-right {
		.illustration {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
			@include make-sm-column(6);
			@include make-sm-column-push(6);

			@include mq(mobileLandscape) {
				width: 50%;
			}

		}

		.description {
			@include make-xs-column(12);		// On mobile make row after image
			@include make-sm-column(6);
			@include make-sm-column-pull(6);
			@include make-sm-column-offset(0);	// Reset Offset
		}
	}
}

.illustration-1A {
	@include make-md-column(6);
}

// Product Category Pages
.product-category {
	.pane {
		header {
			margin-bottom: $line-height-computed*4;
		}
	}
}

//
// Product Detail Page
//
.product-detail {
	.pane-top {
		@include onethird-twothirds();
		h4 {
			margin-top: 0;
		}

		@include mq($until: tablet){
			.description {
				margin-top: $line-height-computed*2;
			}
		}
	}
}

.how-it-works {
	.step {
		@include onethird-twothirds();
	}
}

//
// Smartlabel Page
//
.tweet {
	text-align: left;
}

//
// About Page
//
.about {
	&.pane-top {
		header {
			text-align: left;
		}

		@include mq($until: tablet){
			h1 {
				// Make font a bit smaller for small screens
				font-size: $font-size-h3;
			}
		}
	}

	// Contact page styles
	//
	.addresses {
		// Styles contact list for two columns
		> ul {
			@include list-unstyled();
			@include make-sm-column(6);
			@include make-sm-column-offset(3);
			@include make-sm-column-offset(0);

			> li {
				// Spacing between list items (first level only)
				margin-bottom: $line-height-computed*2;
			}
		}

		// Social list
		.social {
			@include make-sm-column(6,0);
			@include list-unstyled();
		}

		// Styles monosocialicons font
		.symbol {
			margin-right: 0.2em;
			vertical-align: middle;
			line-height: 1.4em;
		}
	}
}

// Request a Demo Form
.request-demo {
	label {
		@include make-xs-column(12);
		@include make-sm-column(4,2em);
		@include make-sm-column-offset(1);
	}

	.fields {
		@include make-xs-column(12);
		@include make-sm-column(4,2em);
	}

	// Style all inputs in request-demo page
	input {
		@extend .input-lg;
		@extend .form-control;
		width: 100%;

	}
}

.about-stlouis {
	background: url("/images/about_label_stlouis.png") no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}

// Our Team Page
.leadership, .brainship {
	@include list-unstyled();
}

.leader, .brain {
	text-align: center;
	margin: 2em 0;

	img {
		@include img-responsive();
		border-radius: 50%;
	}
}

// Leaders
.leader {
	@include make-sm-column(4);
}

// Employees
.brain {
	@include make-sm-column(2);

	.description {
		display: none;
	}

}

//
// Partners Page
//
.partners {
	@extend .container;
}

.partner {
	display: inline-block;
	margin-bottom: 4em;

	h2 {
		margin-top: 0;
	}

	.logo {
		@include make-sm-column(4);
	}

	.description {
		@include make-sm-column(8);
	}

	img {
		@include img-responsive();
	}
}

//
// Careers Page
//
.careers {
	&.pane-top {
		background: url("/images/about_careers_top_bg.png");
	}
}

//
// Developers Section
// ==================
// 
.multi-step {
	.step {
		@include make-row();
		border-top: 1px solid $brand-green;
		padding-top: $line-height-computed;
		padding-bottom: $line-height-computed*2;

		> h2 {
			@include make-sm-column(4);
		}

		.description {
			@include make-sm-column(8);
		}
	}

	.step-illustration {
		@include make-sm-column(12);
		display: inline-block;
		margin-top: $line-height-computed*2;
		border-top: 1px solid $gray-lighter;
		img {
			@include img-responsive();
		}
	}
}

// Pricing table
//
.pricing-box {
	@include make-xs-column(12);
	@include make-sm-column(4, 0.4em);
	text-align: center;
	margin-bottom: $line-height-computed*2;

	> header {
		background-color: $brand-green;
		color: #fff;
		width: 100%;
		text-align: center;
		margin-bottom: 0;
		padding-top: 2em;
		padding-bottom: 2em;
		
		@include mq($from: tablet) {
			padding-bottom: 0;
			height: 15em;
		}

		@include mq($from: desktop) {
			padding-top: 4em;
		}
	}

	section, a.cta {
		width: 100%;
		padding: $line-height-computed $line-height-computed*0.6;
	}
	
	.details {
		background-color: #E5E5E5;

		@include mq($from: tablet) {
			height: 48em;
		}

		@include mq($from: desktop) {
			height: 38em;
		}
	}

	.price {
		background-color: $gray-lighter;
	}

	.cta {
		display: inline-block;
		text-transform: uppercase;
		
		@include mq(tablet) {
			font-size: $font-size-h4;
		}

		&, a, a:visited {
			background-color: $brand-primary;
			color: #fff;
		}

		&:hover, &:active {
			text-decoration: none;
			background-color: $brand-primary-dark;
		}
	}

	ul {
		@include list-unstyled();

		> li:not(:first-child) {
			margin-top: $line-height-computed;
		}
	}

	h1, h2, h3 {
		margin: 0;
	}
}