//
// Global
//

// Customize Buttons
.btn {
	min-width:15em;
	margin-top: $line-height-computed;
	padding-left: 3em;
	padding-right: 3em;
	border-radius: 100px;

	@include mq($until: tablet) {
		display: block;
		width: 100%;
	}

	&.btn-primary {
		margin-top: $line-height-computed*2;
	}
}

// Hack to fix bootstrap's dl-horizontal style; should make my own using the grid
@include mq($from: tablet) {
	.dl-horizontal {
		dt {
		    white-space: normal;
		    width: 200px; 
		}

		dd {
			margin-left: 220px;
		}
	}
}

// Footer
.nav-footer {
	background-color: #373D46;
	color: #fff;

	.logo {
		@include mq($until: tablet) {
			text-align: center;
			margin: $line-height-computed*2 0;
		}
		@include mq($from: tablet) {
			img {
				@include img-responsive();
			}
		}
		@include make-sm-column(2);
	}

	// Every UL is a column with border on the left
	ul {
		@include make-xs-column(4);
		@include make-sm-column(2);
		@include list-unstyled();

		// border-left: 1px solid #555;
	}
}

//
// Navigation Menu
// ===============
// This is the top menu bar. It uses classes from the .menu class which is re-used in the about pages.
// 
//

#nav_top {
	@include container-fixed();
    position: fixed; // menu follows on mobile
	top: 0;
	z-index: 999;
	text-align: center;
	width: 100%;
	background: rgba(255,255,255,0.94) url('/images/li_logo_horizontal.svg') 20px 13px no-repeat;
	background-size: 50%;
	box-shadow: 0 0.4em 0.8em 0em rgba(0,0,0,0.25);

    @include mq($from: tablet){
    	top: $line-height-computed*2;
		position: absolute; // make menu fixed after tablet
		
		// Center div horizontally with CSS3
	    left: 50%;
	    transform: translate(-50%, 0);
	    width: $container-sm;

	    background: none;
	    box-shadow: none;
    }

    @include mq($from: desktop) {
	    top: $line-height-computed*3;
	    width: $container-md;
	}

	header {
		min-height: 3.5em;

		@include mq($from: tablet) {
			min-height: 0;
			margin-bottom: $line-height-computed*3;
		}

		@include mq($from: desktop) {
			margin-bottom: 0;
		}
	}

	.logo {
		// margin-top: $line-height-computed*0.75;
		// margin-bottom: $line-height-computed*0.75;

		@include make-xs-column(6);
		@include make-sm-column-offset(3);
		@include make-md-column(3);
		@include make-md-column-offset(0);

		img {
			@include img-responsive();
			display: none;
			margin-left: auto;
			margin-right: auto;

			@include mq($from: tablet) {
				display: block;
			}
		}

		// @include mq($from: tablet) {
		// 	margin-top: 0;
		// 	margin-bottom: 0;
		// }

		@include mq($from: desktop) {
			// Resets margin on > desktop
			margin-bottom: 0;
		}
	}

	//
	// Hamburger button for mobile nav
	//
	.hamburger {
		font-size: 1.4em;
		margin-top: 0.4em;

		@include make-xs-column(2);
		@include make-xs-column-offset(4);

		@include mq($from: tablet) {
			display: none;
		}
	}

	// Customize the top nav-specific menu stuff
	.menu {
		margin-bottom: 0;
		display: none; // begin hidden on mobile

		@include mq($from: tablet) {
			display: table; // return to "table" for even distribution of items
		}

		@include mq($from: desktop) {
			// Right-align menu on desktop and greater
			width: auto;
			float: right;
		}

		a, a:visited {
			color: $menu-link;

			// Selected menu item gets underline
			&.selected {
				border-bottom: $menu-link solid 2px;
			}
		}
	}

	// Hide the "home" nav item on everything but mobile
	.nav-home {
		@include mq($from: tablet){
			display: none;
		}
	}
}

// Home
.home {
	.pane-top {
		@include mq($until: tablet){
			background:
				linear-gradient(
				  rgba(55, 60, 70, 0.55), 
				  rgba(55, 60, 70, 0.55)
				),
				url("/images/illustration_1A.png") center bottom / 200% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;
		}
		@include mq($from: tablet){
			background:
				linear-gradient(
				  rgba(55, 60, 70, 0.55), 
				  rgba(55, 60, 70, 0.55)
				),
				url("/images/illustration_1A.png") center bottom / 80% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;
		}
		@include mq($from: desktop){
			background:
				url("/images/illustration_1A.png") left 0 bottom 0 / 60% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;
		}
		@include mq($from: wide){
			background:
				url("/images/illustration_1A.png") left 0 bottom 0 / 50% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;

			h1 {
				font-size: 48px;
				font-weight: 600;
			}
		}

		.description {
			@include make-md-column(6);
			@include make-md-column-offset(6);
			@include make-lg-column(7);
			@include make-lg-column-offset(5);

			text-align: left;
		}
	}
}

.pane {
	//
	// Product displays
	.product {
		display: inline-block;
		margin-bottom: $line-height-computed;
	}

	.product-left {
		.illustration {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
			@include make-sm-column(6);
			@include make-sm-column-offset(0);	// Reset offset
		}

		.description {
			@include make-xs-column(12);		// On mobile make row after image
			@include make-sm-column(6);
		}
	}

	.product-right {
		.illustration {
			@include make-xs-column(8);			// On mobile make images small and centered
			@include make-xs-column-offset(2);
			@include make-sm-column(6);
			@include make-sm-column-push(6);
			@include make-sm-column-offset(0);	// Reset Offset
		}

		.description {
			@include make-xs-column(12);		// On mobile make row after image
			@include make-sm-column(6);
			@include make-sm-column-pull(6);
			@include make-sm-column-offset(0);	// Reset Offset
		}
	}
}

.illustration-1A {
	@include make-md-column(6);
}

//
// Product Detail Page
//
.product-detail {
	.pane-top {
		@include onethird-twothirds();
		h4 {
			margin-top: 0;
		}

		@include mq($until: tablet){
			.description {
				margin-top: $line-height-computed*2;
			}
		}
	}
}

.how-it-works {
	.step {
		@include onethird-twothirds();
	}
}

//
// Smartlabel Page
//
.tweet {
	text-align: left;
}

//
// About Page
//
.about {
	header {
		text-align: left;
	}

	@include mq($until: tablet){
		h1 {
			font-size: $font-size-h3;
		}
	}
}

.about-stlouis {
	background: url("/images/about_label_stlouis.png");
	text-align: center;
}

// Our Team Page
.leadership, .brainship {
	@include list-unstyled();
}

.leader, .brain {
	text-align: center;
	margin: 2em 0;

	img {
		@include img-responsive();
		border-radius: 50%;
	}
}

// Leaders
.leader {
	@include make-sm-column(4);
}

// Employees
.brain {
	@include make-sm-column(2);

	.description {
		display: none;
	}

}

//
// Partners Page
//
.partners {
	@extend .container;
}

.partner {
	display: inline-block;
	margin-bottom: 4em;

	h2 {
		margin-top: 0;
	}

	.logo {
		@include make-sm-column(4);
	}

	.description {
		@include make-sm-column(8);
	}

	img {
		@include img-responsive();
	}
}

//
// Careers Page
//
.careers {
	&.pane-top {
		background: url("/images/about_careers_top_bg.png");
	}
}