//
// Global
//

// Customize Bootstrap Buttons
.btn {
	margin-top: $line-height-computed;
	border-radius: 100px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	width: 100%;

	@include mq($until: tablet) {
		display: block;
	}

	@include mq($from: tablet) {
		padding-left: 3em;
		padding-right: 3em;
		width: auto;
		min-width: 17.5em;
	}

	@include mq($from: desktop) {
		padding-left: 3em;
		padding-right: 3em;
	}

	&.btn-primary {
		margin-top: $line-height-computed*2;
	}

	&.learn-more {
		@include mq($from: tablet) {
			padding-left: 0;
		}
	}
}

// FAQ
.index {
	> li {
		
	}
}

.questions {
	padding-top: $line-height-computed*2;
	border-top: 1px solid $brand-green;
}

.question {
	@include make-row();
	// display: inline-block;
	padding-bottom: 3em;
	border-bottom: 1px solid $gray-lighter;

	&:not(:first-child) {
		margin-top: 5em;
	}


	@include mq($from: tablet) {
	    padding-bottom: 3em;
	}

	h3 {
		margin-top: 0;
		display: inline-block;
		// @include make-sm-column(5);
		@include make-md-column(5);
		font-size: $font-size-h4;
	}

	p {
		display: inline-block;
		// @include make-sm-column(6);
		@include make-md-column(7);
	}
}

//
// Bootstrap Nav overrides
//
.navbar-default {
	border: 0;
	box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.61);

	@include mq($from: tablet) {
		position: absolute;
		background: transparent;
		margin-top: 2em;
		box-shadow: none;
	}
}

.navbar-right {
	@include mq($from: desktop) {
		margin-right: 0;
	}
}

.nav {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
}

.navbar {
	// Customizes logo
	.navbar-brand {
	    background: url('/images/li_logo_horizontal.svg') no-repeat;
	    background-size: 180px auto;
	    background-position: 20px;
	    width: 200px;
	    display: block;
	    text-indent: 100%;
	    white-space: nowrap;
	    overflow: hidden;

		@include mq($from: tablet){
			margin-top: 12px;

			// Make logo white on dark backgrounds
			.about &, .developers & {
				background-image: url('/images/li_logo_horizontal_white.svg');
			}
		}
	}

	// Customizes hamburger button
	.navbar-toggle {
		padding: 2px 0;
		border: 0;
		color: $brand-primary;
		
		// focused state
		&:focus, &:hover {
			background: none;
			color: $brand-primary-dark;
		}
	}

	// Customizes navigation
	.nav {
		margin-top: 0;
		text-align: center;

		> li {
				// Moves padding to <li> rather than <a> for precise underlines
				@include mq($from: tablet){
					padding: 10px 12px;
				}

				@include mq($from: desktop){
					padding: 10px 16px;
				}

			a {
				text-transform: uppercase;
			}
			
			// Customize active navbar link
			&.active {
				> a {
					@include mq($until: tablet) {
						background: $brand-primary;
						color: #fff;
					}

					@include mq($from: tablet) {
						// border at the bottom of active
						padding-bottom: 1.6em;
						border-bottom: 2px solid $brand-primary;
						background: transparent;
					}
				}
			}
		}

		@include mq($from: tablet) {
			// Hide home menu item
			.nav-home {
				display: none;
			}
		}
	}
}

//
// Top Navigation
//
#nav_top {
	.navbar-brand {
		height: auto;
		// @include make-xs-column(8);

		img {
			width: 180px;
		}
	}
	
	// Top nav specific navbar definitions
	.navbar-nav > li a {
		padding-left: 0;
		padding-right: 0;
	}
}

//
// Subnavigation
//
.subnav {
	text-align: center;

	.container-fluid {
		padding: 0;
	}

	.nav {
		margin-bottom: $line-height-computed*2;

		> li {
			display: inline-block;

			a {
				padding-left: 1.2em;
				padding-right: 1.2em;

				@include mq($from: desktop) {
					font-size: 15px;
				}

				&:hover, &:active, &:visited {
					background-color: transparent;
				}
		
				&, &:visited {
					color: #fff;
				}
		
				&:hover {
					color: #bbb;
				}
			}
		}
	}
}

//
// Footer
//
#nav_footer {
	background-color: #373D46;
	color: #fff;

	.logo {
		@include mq($until: tablet) {
			text-align: center;
			margin: $line-height-computed*2 0;
		}
		@include mq($from: tablet) {
			img {
				@include img-responsive();
			}
		}
		@include make-sm-column(2);
	}

	// Every UL is a column with border on the left
	ul {
		@include make-xs-column(4);
		@include make-sm-column(2);
		list-style-type: none;
		// @include list-unstyled();

		// border-left: 1px solid #555;
	}
}

// Home
.home {
	.pane-top {
		@include mq($until: tablet){
			background:
				linear-gradient(
				  rgba(55, 60, 70, 0.55), 
				  rgba(55, 60, 70, 0.55)
				),
				url("/images/illustration_1A.png") center bottom / 200% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;
		}
		@include mq($from: tablet){
			background:
				linear-gradient(
				  rgba(55, 60, 70, 0.55), 
				  rgba(55, 60, 70, 0.55)
				),
				url("/images/illustration_1A.png") center bottom / 80% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;
		}
		@include mq($from: desktop){
			background:
				url("/images/illustration_1A.png") left 0 bottom 0 / 60% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;
		}
		@include mq($from: wide){
			background:
				url("/images/illustration_1A.png") left 0 bottom 0 / 50% no-repeat,
				url("/images/bgGridBlue.png") repeat,
				#373D46;

			h1 {
				font-size: 48px;
				font-weight: 600;
			}
		}

		.description {
			@include make-md-column(6);
			@include make-md-column-offset(6);
			@include make-lg-column(7);
			@include make-lg-column-offset(5);

			text-align: left;
		}
	}
}

.pane {
	//
	// Product displays
	.product {
		display: inline-block;
		margin-bottom: $line-height-computed;
	}

	.product-left {
		.illustration {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
			@include make-sm-column(6);
			@include make-sm-column-offset(0);	// Reset offset

			@include mq(mobileLandscape) {
				width: 50%;
			}
		}

		.description {
			@include make-xs-column(12);		// On mobile make row after image
			@include make-sm-column(6);
		}
	}

	.product-right {
		.illustration {
			width: 85%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
			@include make-sm-column(6);
			@include make-sm-column-push(6);

			@include mq(mobileLandscape) {
				width: 50%;
			}

		}

		.description {
			@include make-xs-column(12);		// On mobile make row after image
			@include make-sm-column(6);
			@include make-sm-column-pull(6);
			@include make-sm-column-offset(0);	// Reset Offset
		}
	}
}

.illustration-1A {
	@include make-md-column(6);
}

// Product Category Pages
.product-category {
	.pane {
		header {
			margin-bottom: $line-height-computed*4;
		}
	}
}

//
// Product Detail Page
//
.product-detail {
	.pane-top {
		@include onethird-twothirds();
		h4 {
			margin-top: 0;
		}

		@include mq($until: tablet){
			.description {
				margin-top: $line-height-computed*2;
			}
		}
	}
}

.how-it-works {
	.step {
		@include onethird-twothirds();
	}
}

//
// Smartlabel Page
//
.tweet {
	text-align: left;
}

//
// About Page
//
.about {
	&.pane-top {
		header {
			text-align: left;
		}

		@include mq($until: tablet){
			h1 {
				// Make font a bit smaller for small screens
				font-size: $font-size-h3;
			}
		}
	}

	// Contact page styles
	//
	.addresses {
		// Styles contact list for two columns
		> ul {
			@include list-unstyled();
			@include make-sm-column(6);
			@include make-sm-column-offset(3);
			@include make-sm-column-offset(0);

			> li {
				// Spacing between list items (first level only)
				margin-bottom: $line-height-computed*2;
			}
		}

		// Social list
		.social {
			@include make-sm-column(6,0);
			@include list-unstyled();
		}

		// Styles monosocialicons font
		.symbol {
			margin-right: 0.2em;
			vertical-align: middle;
			line-height: 1.4em;
		}
	}
}

// Request a Demo Form
.request-demo {
	label {
		@include make-xs-column(12);
		@include make-sm-column(4,2em);
		@include make-sm-column-offset(1);
	}

	.fields {
		@include make-xs-column(12);
		@include make-sm-column(4,2em);
	}

	// Style all inputs in request-demo page
	input {
		@extend .input-lg;
		@extend .form-control;
		width: 100%;

	}
}

.about-stlouis {
	background: url("/images/about_label_stlouis.png") no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}

// Our Team Page
.leadership, .brainship {
	@include list-unstyled();
}

.leader, .brain {
	text-align: center;
	margin: 2em 0;

	img {
		@include img-responsive();
		border-radius: 50%;
	}
}

// Leaders
.leader {
	@include make-sm-column(4);
}

// Employees
.brain {
	@include make-sm-column(2);

	.description {
		display: none;
	}

}

//
// Partners Page
//
.partners {
	@extend .container;
}

.partner {
	display: inline-block;
	margin-bottom: 4em;

	h2 {
		margin-top: 0;
	}

	.logo {
		@include make-sm-column(4);
	}

	.description {
		@include make-sm-column(8);
	}

	img {
		@include img-responsive();
	}
}

//
// Careers Page
//
.careers {
	&.pane-top {
		background: url("/images/about_careers_top_bg.png");
	}
}

//
// Developers Section
// ==================
// 
.multi-step {
	.step {
		@include make-row();
		border-top: 1px solid $brand-green;
		padding-top: $line-height-computed;
		padding-bottom: $line-height-computed*2;

		> h2 {
			@include make-sm-column(4);
		}

		.description {
			@include make-sm-column(8);
		}
	}

	.step-illustration {
		@include make-sm-column(12);
		display: inline-block;
		margin-top: $line-height-computed*2;
		border-top: 1px solid $gray-lighter;
		img {
			@include img-responsive();
		}
	}
}

// Pricing table
//
.pricing-box {
	@include make-xs-column(12);
	@include make-sm-column(4, 0.4em);
	text-align: center;
	margin-bottom: $line-height-computed*2;

	> header {
		background-color: $brand-green;
		color: #fff;
		width: 100%;
		text-align: center;
		margin-bottom: 0;
		padding-top: 2em;
		padding-bottom: 2em;
		
		@include mq($from: tablet) {
			padding-bottom: 0;
			height: 15em;
		}

		@include mq($from: desktop) {
			padding-top: 4em;
		}
	}

	section, a.cta {
		width: 100%;
		padding: $line-height-computed $line-height-computed*0.6;
	}
	
	.details {
		background-color: #E5E5E5;

		@include mq($from: tablet) {
			height: 48em;
		}

		@include mq($from: desktop) {
			height: 38em;
		}
	}

	.price {
		background-color: $gray-lighter;
	}

	.cta {
		display: inline-block;
		text-transform: uppercase;
		
		@include mq(tablet) {
			font-size: $font-size-h4;
		}

		&, a, a:visited {
			background-color: $brand-primary;
			color: #fff;
		}

		&:hover, &:active {
			text-decoration: none;
			background-color: $brand-primary-dark;
		}
	}

	ul {
		@include list-unstyled();

		> li:not(:first-child) {
			margin-top: $line-height-computed;
		}
	}

	h1, h2, h3 {
		margin: 0;
	}
}