// Panes (custom version of jumbotron)
.pane {
	@extend .jumbotron;
	@extend .vertical-center;
	background: #fff;
	margin-bottom: 0;
	padding-top: $line-height-computed*3;
	padding-bottom: $line-height-computed*3;

	.container > header {
		clear: both;
		text-align: center;
		// margin-bottom: $line-height-computed*4;

		@include mq($from: tablet) {
			margin-bottom: $line-height-computed*4;
		}
	}

	// For pages with indexes, use this inside <header>
	.index {
		@include list-unstyled();

		> li {

		}

		&.inline {
			@extend .list-inline;

			> li {
				padding-left: 2em;
				padding-right: 2em;
			}
		}
	}

	// Make illustrations responsive
	.illustration {

		img {
			@include img-responsive();
			margin-left: auto;
		    margin-right: auto;
			// margin-bottom: $line-height-computed*2;
		}
	}

	/* Predefined pane heights */
	&.huge {
		min-height: 94%;	/* Fallback for browsers do NOT support vh unit */
		min-height: 94vh;
	}

	&.tall {
		min-height: 86%;	/* Fallback for browsers do NOT support vh unit */
		min-height: 86vh;
	}

	&.medium {
		min-height: 65%;
		min-height: 65vh;
	}

	&.short {
		min-height: 50%;	/* Fallback for browsers do NOT support vh unit */
		min-height: 50vh;
	}

	/* Re-usable classes for 2-column and 3-column layouts */
	&.two-column, &.three-column {
		.column {
			margin-bottom: $line-height-computed*4;
			text-align: center;

			&:not(:first-of-type) {
				padding-top: $line-height-computed*2;
				border-top: $brand-light-green solid 1px;

				@include mq($from: tablet) {
					padding-top: 0;
					margin-bottom: 0;
					border: 0;
				}
			}
		}

		// Total hack to make buttons align at the bottom. Should revise.
		.equal-height {
			@include mq($from: tablet) {
				min-height: 24.5em;
			}

			@include mq($from: desktop) {
				min-height: 16em;
			}
		}

		.btn {
			width: 100%;
		}

		.icon {
			img {
				width: 12em;
			}
		}
	}

	&.three-column {
		.column {
			@include make-sm-column(4);
		}
	}

	&.two-column {
		.column {
			@include make-sm-column(6);
		}
	}

	// Re-usable pane styles
	&.blue {
		background: #373D46;
		color: #fff;
	}

	&.blue-grid {
		background: #373D46 url("/images/bgGridBlue.png") repeat;
		color: #fff;
	}

	&.green-grid {
		background: #373D46 url("/images/bgGridGreen.png") repeat;
		color: #fff;
	}

	&.gradient {
		// Since CSS doesn't let me separate the layered background statements
		// I have to repeat them
		@include mq($until: tablet) {
			background:
				url("/images/section_separator.png") 0px 0px / 180% auto no-repeat,
				linear-gradient(-180deg, #F6F6F6 0%, #E3F5F2 100%),
				#fff;
		}
		@include mq($from: tablet) {
			background:
				url("/images/section_separator.png") 0px 0px / 100% auto no-repeat,
				linear-gradient(-180deg, #F6F6F6 0%, #E3F5F2 100%),
				#fff;
			}
		@include mq($from: wide) {
			background:
				url("/images/section_separator.png") 0px 0px / 50% auto no-repeat,
				linear-gradient(-180deg, #F6F6F6 0%, #E3F5F2 100%),
				#fff;
		}
	}

	&.inverted {
		color: #fff;
	}

	&.pane-top {
		padding-top: $line-height-computed*4;
		align-items: top;

		@include mq($from: tablet) {
			padding-top: $line-height-computed*8;
		}
	}
}


// Manually define best place for titles to break when space too narrow
span.avoid-wrap { 
	display:inline-block;
}

// Center vertically in divs
.vertical-center {
  display: flex;
  align-items: center;
}

.separator {
	@include mq($until: tablet) {
		background: url("/images/section_separator.png") 0px 0px / 180% auto no-repeat,
		#fff;
	}
	@include mq($from: tablet) {
		background: url("/images/section_separator.png") 0px 0px / 100% auto no-repeat,
		#fff;
	}
	@include mq($from: wide) {
		background: url("/images/section_separator.png") 0px 0px / 50% auto no-repeat,
		#fff;
	}
	border-top: $brand-green solid 1px;
}

.separator-inverted {
	@include mq($until: tablet) {
		background: url("/images/section_separator_inverted.png") right 0px / 180% auto no-repeat;
	}
	@include mq($from: tablet) {
		background: url("/images/section_separator_inverted.png") right 0px / 100% auto no-repeat;
	}
	@include mq($from: wide) {
		background: url("/images/section_separator_inverted.png") right 0px / 50% auto no-repeat;
	}
	border-top: #52BEAC solid 1px;
}

//
// Re-usable menu properties (for <ul>)
//
.menu {
	display: block;
	clear: both;
	position: relative;
	width: 100%;
	list-style: none;
	padding-left: 0;

	@include mq($from: desktop) {
		display: inline-block;
		clear: none;
	}

	// Define general font style for menus
	> li {
		display: inline-block;
		margin-top: 0.5em;
		margin-right: 1.1em;
		padding-left: 0;
		text-transform: uppercase;
		font-weight: 700;

		@include mq($from: desktop) {
			display: inline-block; // Resets for standard right-alignment
			width: auto; // Resets for standard right-alignment
		}

		a {
			&:hover, &:active {
				text-decoration: none;
			}
		}
	}
}

// Module for collapsable menus
.menu-collapse {

	// Define general font style for menus
	> li {
		// Mobile: full-width items
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;

		// Mobile gets them stacked menus
		padding-top: $line-height-computed*0.75;
		padding-bottom: $line-height-computed*0.75;
		border-top: 1px solid lighten($menu-link, 28%);

		@include mq($from: tablet){
			margin-left: 1em;
			padding-top: 0;
			padding-left: 5px;
			padding-right: 5px;
			border: 0;
		}
	}
}

// Customizes Boostrap's Responsive Video Containers
.embed-responsive {
	margin-top: $line-height-computed*2;
	margin-bottom: $line-height-computed*2;
}

// Shortcut to Bootstrap table classes
.table-big {
	@extend .table-responsive;
	@include make-sm-column(12);
}

// MonoSocialIcons
.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    font-size: 3em;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 1em;
}

// Link to go to the top
.to-top {
	@include clearfix();
	width: 100%;
	display: inline-block;
	margin-top: 4em;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;

		@include mq($from: tablet) {
			text-align: right;
		}
}