//
// Bootstrap Overrides
//
$font-family-sans-serif:		 "Open Sans", Helvetica, Arial, sans-serif;

$brand-primary:         #5DBDF2; // #337ab7
$brand-primary-dark:    darken($brand-primary, 10%);
$brand-primary-darker:    darken($brand-primary, 25%);
$brand-primary-light:    lighten($brand-primary, 15%);
$brand-primary-lighter:    lighten($brand-primary, 35%);
$brand-green:			#52BEAC;
$brand-light-green:		lighten($brand-green, 25%);
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$body-bg:				#22272C;

$grid-gutter-width:         40px;

$jumbotron-font-size:            16px;
$jumbotron-heading-font-size:    40px;
$headings-font-weight:   		 700;
$headings-line-height:			1.4;
$line-height-base:        1.818181818; // 20/11

$menu-link:						#6CB8E1 !default;

//== Navbar
//
//##
// Basics of a navbar
// $navbar-height:                    100px;
// $navbar-margin-bottom:             $line-height-computed !default;
// $navbar-border-radius:             $border-radius-base !default;
// $navbar-padding-horizontal:        20px;
// $navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
// $navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #fff;
// $navbar-default-bg:                #f8f8f8 !default;
// $navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $brand-primary;
$navbar-default-link-hover-color:          $brand-primary-dark;
// $navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $brand-primary;
$navbar-default-link-active-bg:            transparent;
// $navbar-default-link-disabled-color:       #ccc !default;
// $navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
// $navbar-default-brand-color:               $navbar-default-link-color !default;
// $navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
// $navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
// $navbar-default-toggle-hover-bg:           #ddd !default;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
// $navbar-default-toggle-border-color:       #ddd !default;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          0;
// $nav-link-hover-bg:                         $gray-lighter !default;

// $nav-disabled-link-color:                   $gray-light !default;
// $nav-disabled-link-hover-color:             $gray-light !default;

//== Tabs
// $nav-tabs-border-color:                     #ddd !default;

// $nav-tabs-link-hover-border-color:          $gray-lighter !default;

// $nav-tabs-active-link-hover-bg:             $body-bg !default;
// $nav-tabs-active-link-hover-color:          $gray !default;
// $nav-tabs-active-link-hover-border-color:   #ddd !default;

// $nav-tabs-justified-link-border-color:            #ddd !default;
// $nav-tabs-justified-active-link-border-color:     $body-bg !default;

//== Pills
// $nav-pills-border-radius:                   $border-radius-base !default;
// $nav-pills-active-link-hover-bg:            $component-active-bg !default;
// $nav-pills-active-link-hover-color:         $component-active-color !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (680px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (880px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (940px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;

//
// SASS-mq Overrides
//

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    mobile:  320px,
    tablet:  768px,
    desktop: 992px,
    wide:    1200px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
// $mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);