extends /_layouts/default.pug

block title
	title Contact Label Insight

block vars
	- var current_section = 'contact'
	- var page_type = 'page'

block content
	section.pane.pane-top
		.container
			header
				h1 Contact Label Insight

			.row.addresses
				ul
					li
						h2 General
						address
							| Drop us a line:<br>
							| +1 (888) 787-4386<br>
							a(href="mailto:info@labelinsight.com") info@labelinsight.com

					li
						h4 Headquarters - Chicago
						address
							| 641 West Lake Street<br>
							| Suite 402<br>
							| Chicago, IL 60661

					li
						h4 Saint Louis
						address
							| 611 North 10th Street<br>
							| Suite 570<br>
							| Saint Louis, MO 63101

				ul
					li
						h2 Media

						address
							| Contact our media team<br>
							a(href="mailto:press@labelinsight.com", title="Contact our media team") press@labelinsight.com

					li
						h2 Current Customers
						address
							| Get Technical Support<br>
							a(href="mailto:customersuccess@labelinsight.com", title="Get Technical Support") customersuccess@labelinsight.com

					li
						h2 Let’s get social
						ul.social
							li 
								a(href="https://www.facebook.com/Labelinsight") #[span.symbol circlefacebook] Facebook
							li
								a(href="https://twitter.com/labelinsight") #[span.symbol circletwitter] Twitter
							li 
								a(href="https://www.linkedin.com/company/labelinsight-inc-") #[span.symbol circlelinkedin] Linkedin
						ul.social
							li 
								a(href="https://www.pinterest.com/labelinsight") #[span.symbol circlepinterest] Pinterest
							li 
								a(href="https://www.instagram.com/labelinsight") #[span.symbol circleinstagram] Instagram