extends /_layouts/default.pug

block title
	title Custom SmartSPECs for Retailers

block vars
	- var current_section = 'retailers'

block content
	+productDetailPaneTop(
		"3.2A",
		"SmartSPEC™ for SmartLabel",
		"Connect with your customers <span class='avoid-wrap'>on a whole new level.</span>",
		"Label Insight helps retailers gain deeper insights into their inventory through the creation of SmartSPECs. A SmartSPEC is a custom set of attributes used to support unique retailer initiatives. A custom SPEC instantly gives retailers a unique view of their product inventory. This data allows retailers to make more informed decisions, create a stronger connection with their customers and better position themselves in the marketplace.",
		"Request a Demo",
		"/contact/request-demo",
		"Learn more about SmartLabel",
		"/smartlabel"
	)

	section.pane.blue.medium.vertical-center
		.container
			h1 Custom SmartSPECs, they’re like tunnel vision for your business (in the best possible way)
			p SmartSPECs provide a unique and tailored view of the data you need based on your initiatives. Here are some examples of some of our most popular custom SPECs. 

	section.pane.gradient.huge
		.container
			header
				h1 Custom Health & Wellness SmartSPEC
				p Health and wellness is top-of-mind for consumers today. Retailers who are able to provide the product assortment consumers seek while helping their customers navigate product offerings to satisfy health and nutritional wants and needs along with dietary restrictions will gain a competitive advantage and forge a stronger relationship with their customers. 

			h1 How it helps: 
			ul
				li Provide health conscious consumers with a method to easily identify products that meet their lifestyles 
				li Create a more connected omni-channel experience providing consistent health and wellness info across all channels - in-store, mobile, online
				li Provide deep transparency to their customers 
				li Analyze their inventory to identify which products  meet health/wellness standards
				li Empowering internal health and wellness experts to provide a better shopper/customer experience - at their fingertips
				li Easily meet their specific definition for health and wellness 

	section.pane.gradient.huge
		.container
			header
				h1 Custom Category Management SmartSPEC
				p SmartSPEC helps retailers make data-driven decisions about their optimal product mix to align their price, promotion and assortment decisions with the greatest needs of their customers and maximize category growth potential.

			h1 How it helps: 
			ul
				li Take deeper look into the performance of their SKUs, determining the common thread around high or underperforming SKUs 
				li Determine which factors are driving sales in order make smarter decisions around share of shelf	 
				li Make better blocking decisions, with the ability to easily lay out shelving based on product attributes, such as all paleo, all natural and organic
				li Create category specific attributes to give a unique view into their inventory 
				li Analyze their inventory to bring in products that meet specific criteria


	section.pane.gradient.huge
		.container
			header
				h1 eCommerce SmartSPEC
				p Retailers today are beginning to prioritize e-commerce growth as a priority for long term success. more connected in online world, need to adapt to survive and compete in today's market - giving your reach - extending your reach beyond the storefront 

			h1 How it helps: 
			ul
				li Improve online search functionality - giving consumers the ability to search for products based on attributes such as nutrients and allergens 
				li Create a custom recommendation engine with the ability to recommend similar products based on similar ingredient, nutritive and marketing attributes
				li Improve searchability online, by showcasing your unique product set (all gf cereals or paleo offerings)


	+paneFinalCloser(
		"Our insights are your insights.",
		"Contact us today to see our data in action and learn how Label Insight can help you meet your top initiatives.",
		"Request a Demo",
		"/contact/request-demo"
	)