extends /_layouts/default.pug

block title
	title Label Insight: Our Investors

block content
	section.pane.pane-top.blue-grid
		.container
			header
				h1 Investors
				p.
					Our journey would not be possible without the support of and collaboration from of our investors.
	section.pane
		.partners
			.row
				+partnerBlock(
					"cultivation_capital",
					"Cultivation Capital",
					"Cultivation Capital is a venture capital firm that supports extraordinary entrepreneurs. They are a family of venture funds that invests in technology and life sciences companies, which has backed over 30 technology and life sciences companies since the firm was founded in 2012, making us one of the most active seed investors in the country. Cultivation helps businesses get to the next level with the help of our investors, general partners, and portfolio companies."
				)

				+partnerBlock(
					"dunhumby",
					"dunhumby Ventures",
					"dunhumby Ventures funds and accelerates startup businesses that are embracing data for innovations along the consumer’s path to purchase. Backed by the global leader in customer science and a database of shopping behaviour on nearly one billion households worldwide, dunnhumby Ventures is looking to break all the rules and lead innovations that change the future of retail."
				)

				+partnerBlock(
					"kpmg_capital",
					"KPMG Capital",
					"KPMG Capital focuses on investments and opportunities in the Data & Analytics space.<br>KPMG Capital Limited and KPMG Capital Holding Limited comprise an investment fund for KPMG member firms. The investment fund is not open to third-party investment and will not, itself, provide professional services to clients.  KPMG Capital Limited and KPMG Capital Holding Limited are legally distinct and separate from KPMG International Cooperative and each KPMG member firm."
				)

				+partnerBlock(
					"mercury_fund",
					"Mercury Fund",
					"Mercury Fund is a seed and early-stage venture capital firm.  With over $200 million under management, Mercury invests in compelling and novel software and science-based startup opportunities, focusing on technology innovation originating in the U.S. Midcontinent.  Since inception in 2005, Mercury has become one of the most active venture firms in the middle of the U.S., becoming a “go-to” fund for entrepreneurs at the earliest stages of idea generation, company formation, and market execution."
				)

				+partnerBlock(
					"serra_ventures",
					"Serra Ventures",
					"Serra Ventures, LLC is a professional advisory firm offering a comprehensive suite of services to the middle market, with a special emphasis on early stage and emerging high technology companies.  Serra Ventures’ principals bring decades of business experience spanning multiple disciplines and industries to each consulting engagement."
				)

				+partnerBlock(
					"west_capital_advisors",
					"West Capital Advisors",
					"West Capital Advisors is a new breed of venture capital firm, formed to advise Corporate Venture Capital and Innovation Programs. West Capital Advisors provides corporations an objective, comprehensive perspective on emerging strategically relevant innovations. Services include innovation analysis, sourcing and structuring engagement in early stage companies, portfolio management, and quantifiable measurement consistent with corporate disciplines."
				)