extends /_layouts/default.pug

block title
	title SmartSPEC™ for SmartLabel

block vars
	- var current_section = 'smartlabel'
	- var page_type = 'product-detail'

block content
	+productDetailPaneTop(
		"2.2A",
		"SmartSPEC™ for SmartLabel",
		"Build consumer trust <span class='avoid-wrap'>through transparency.</span>",
		"Consumers want more transparency from the products they use and consume. SmartLabel provides easy, instant access to detailed product information.<br>SmartSPEC provides a powerful set of tools to get your business up and running with SmartLabel faster, easier and more reliably.",
		"Request a Demo",
		"/contact/request-demo",
		"Learn more about SmartLabel",
		"/smartlabel"
	)

	section.pane.green-grid.text-center
		.container
				h1 Meet SmartSPEC™, the most comprehensive SmartLabel solution on the market.
				
				.embed-responsive.embed-responsive-16by9
					iframe(src="https://player.vimeo.com/video/160803542", width="640", height="360", frameborder="0", webkitallowfullscreen mozallowfullscreen allowfullscreen)
				p.
					SmartSPEC helps CPG companies quickly and easily participate in the SmartLabel transparency initiative. Our team of food data and technology experts have deep experience in the industry and and in-depth knowledge of the evolving details of the SmartLabel initiative and can guide you in the right direction.

	section.pane.three-column.gradient
		.container
			.row
				.column
					figure.icon
						img(src="/images/icon_SampleA.png")
					h3 Easier Input
					p Label Insight automatically maps 100% of the required SmartLabel attributes and 90% of the voluntary attributes, removing the need to manually input data.

				.column
					figure.icon
						img(src="/images/icon_SampleB.png")
					h3 More robust output
					p Label Insight offers an unmatched level of data, generating 15,000 attributes per product, providing the most comprehensive answers to the questions your customers seek.

				.column
					figure.icon
						img(src="/images/icon_SampleC.png")
					h3 Rapid Turnaround
					p Label Insight can turn around your SmartLabel pages within 24 hours of product flat submission.

	section#how_it_works.how-it-works.pane.blue
		.container
			header
				h1 How it Works
				p Label Insight’s turnkey solution takes you from package flat to to SmartLabel compliance in no time.

			.step
				figure
				.description
					h2 Step 1: Upload Package Flats
					p Brands drag and drop package images into our platform and we extract, analyze and maps SmartLabel attributes

			.step
				figure
				.description
					h2 Step 2: Verify Digitized Data 
					p Brand verifies SmartLabel data and adds any desired off-package information.

			.step
				figure
				.description
					h2 SmartLabel Landing Page Created
					p Label Insight builds and maintains your landing pages according to SmartLabel specifications. Need a QR code? We can help with that too!
	
	section#extend.pane.two-column.gradient.separator
		.container
			header
				h1 Extend your marketing beyond the packaging
				p SmartSPEC enables CPG companies to highlight unique selling points and build equity by sharing attributes such as growing method and country of origin or additional nutrient attributes such as Diabetic Exchanges and Weight Watchers Point Values.

			.row
				.column
					figure.icon
						img(src="/images/icon_SampleA.png")
					h3 Automatically account for allergen properties
					p Accounting for the allergen properties of ingredients is a challenge.  Label Insight’s SmartLabel™ Solution recognizes ingredient properties to automatically display the culprit ingredients for the most common food allergens.

				.column
					figure.icon
						img(src="/images/icon_SampleA.png")
					h3 QR code to landing page management
					p Through Label Insight’s partnership with Scanbuy we seamlessly manage your QR code process from start to finish, and Label Insight will build and maintains your landing pages according to SmartLabel specifications with 99.9% uptime.

	+paneFinalCloser(
		"Start building consumer trust through transparency.",
		"Let’s chat! We’ll walk you through a live SmartLabel page and run you through the steps you need to get started.",
		"Request a Demo",
		"/contact/request-demo"
	)