extends /_layouts/product-detail.pug

block title
	title Label Insight’s Product Data Platform

block current_section
	- var selected = 'cpg brands'

block content
	+productDetailPaneTop(
		"2.3A",
		"Label Insight’s Product Data Platform",
		"Get more insight <span class='avoid-wrap'>into your product line.</span>",
		"Label Insight has revolutionized product data digitization and attribution technology. We provide a level of data that is unmatched, generating over 15,000 attributes - such as nutrients and allergens -  per product. Those attributes serve as building blocks for a live view of data from more than 17,000 brands, totaling 80 percent of the U.S. retail food and beverage sales volume. We work with industry leaders such as the FDA and GMA to support ongoing initiatives around transparency and ingredient and nutrient analysis.",
		"Request a Demo",
		"/contact/request-demo",
		"Learn more about SmartLabel",
		"/smartlabel"
	)

	section.pane.three-column.blue
		.container
			header
				h1 An X-ray of your products, a panorama of your market.
			.row
				.column
					figure.icon
						img(src="/images/icon_SampleA.png")
					h3 Study your competition
					p Leverage more than 15,000 consumer-facing attributes to study your competition, integrate sales data, and discover market forces and emerging trends.

				.column
					figure.icon
						img(src="/images/icon_SampleB.png")
					h3 Drive innovation 
					p Bring new products to market with confidence by identifying emerging trends and running cross category and competitive attribution, improving reception and perception by consumers.

				.column
					figure.icon
						img(src="/images/icon_SampleC.png")
					h3 Meet retailer requirements
					p Better understand what retailers are looking for in their assortment so you can tailor your offerings to support their initiatives - such as health &amp; wellness and sustainability.

	section.pane.gradient
		.container
			header
				h1 How will Label Insight power your business?

			dl
				dt Analyze, Contextualize and Understand
				dd Analyze your products in context to your categories, shelves and competition to better understand your brand’s market positioning

				dt All That’s Inside The Box
				dd Obtain detailed analysis of nutrient, ingredient, marketing claims, certification and industry attributes across every category

				dt Better Information = Better Choices
				dd Integrate product data into digital, mobile and e-commerce applications to enable attribute tags, faceted search, rich item detail and interactive product nutrition data. 

				dt More Impactful Marketing Strategies
				dd Easily identify products containing ingredients, nutritive benefits, or innovative claims to spur innovation and more impactful marketing strategies

				dt All Your Product Data, None Of The Pain
				dd Remove the pain of manual data entry and providing your product information with retail partners and government entities according to their unique requirements 

	+paneFinalCloser(
		"Start building consumer trust through transparency.",
		"Let’s chat! We’ll walk you through a live SmartLabel page and run you through the steps you need to get started.",
		"Request a Demo",
		"/contact/request-demo"
	)