extends /_layouts/default.pug

block title
	title About Label Insight

block vars
	- var current_section = 'about'
	- var page_type = 'page'

block content
	section.pane.pane-top.blue-grid.huge.about
		.container
			header
				include /_includes/about_nav.pug

				h1 Label Insight is the leading provider of SaaS data solutions providing powerful insights and strengthening the connections between CPG brands, retailers and consumers.

	section.pane.gradient.tall.vertical-center
		.container
			.row
				p.col-sm-6.
					Our cloud-based product data engine enables CPG brands and retailers to transform basic product data into smart attributes, providing a deep understanding of their product set. Label Insight offers an unmatched level of data, generating 15,000 attributes - such as nutrients and allergens - per product. These attributes serve as building blocks for a live view of data for more than 300,000 products across 17,000 brands, totaling over 80 percent of the U.S. retail food and beverage market.

				p.col-sm-6.
					Label Insight customers use this deep level of product data to provide greater transparency to consumers; maximize category growth potential; easily participate in industry and government initiatives; and create more connected omni-channel experiences. We work with the FDA, helping the agency develop and maintain the industry’s first scientifically accurate database of food ingredients, attributes and health claims.

	section.pane.about-stlouis.tall.vertical-center.inverted
		.container
			h2 We are headquartered in Chicago with a vibrant office in St. Louis.