extends /_layouts/default.pug

block title
	title Label Insight: Request a Demo

block vars
	- var current_section = 'about'
	- var page_type = 'page'

block content
	section.pane.pane-top.tall
		.container
			header
				h1 Request a Demo
				p Thank you for requesting a demo. One of our representatives will contact you shortly!