doctype html
html
	include ./includes/_head.pug
	body.home
		include ./includes/_navigation.pug
				
		section.pane.vertical-center.background-blue.pane-top.huge
			.container
				.row
					.description
						h1 We Are The Brains #[span.avoid-wrap Behind Grocery Data.]
						p Label Insight was founded with the mission to help consumers understand what’s in the products they use and consume. Today, our world class solution is transforming the way brands and retailers interact with and share product data.

		section#cpg.pane.huge.separator
			.container
				.row
					header
						h1 Making CPG companies more insightful
						p Label Insight helps CPG companies transform basic product information into smart attributes, providing them with a deep understanding of their product set, the power to drive innovation and the ability to easily participate in initiatives such SmartLabel.

					.product.product-right
						figure
							img(src="/images/illustration_1B.png")
						.description
							h2 SmartSPEC for SmartLabel 
							p The modern consumer demands transparency from the products they use and consume. The launch of the SmartLabel transparency initiative meets this need giving consumers easy, instant access to detailed product information. Label Insight’s SmartLabel solution, SmartSPEC, helps CPG companies quickly and easily participate in the SmartLabel transparency initiative. 

							p: a(href="#").btn.btn-primary.btn-lg.round Learn more

					hr

					.product.product-left
						figure
							img(src="/images/illustration_1C.png")
						.description
							h2 Label Insight’s #[span.avoid-wrap Product Data Platform]
							p Our cutting-edge product data engine helps CPG companies transform basic product information into smart attributes. We provide a level of data that is unmatched, generating over 15,000 attributes - such as nutrients and allergens -  per product. These attributes come together to create a deep understanding of a product set and can be easily customized to meet data views requested by retailers and government and industry initiatives. 

							p: a(href="#").btn.btn-primary.btn-lg.round Learn more

		section#retailers.pane.huge.separator
			.container
				.row
					header
						h1 Providing Retailers With #[span.avoid-wrap Actionable Data at their Fingertips]
						p Label Insight helps retailers gain deeper insights into their product inventory, creating a stronger connection with their customers and better position themselves in the marketplace.

					.product.product-right
						figure
							img(src="/images/illustration_1D.png")
						.description
							h2 Custom SmartSPECs #[span.avoid-wrap for Retailers]
							p Label Insight helps retailers gain deeper insights into their inventory through the creation of SmartSPECs. A SmartSPEC is a custom set of attributes used to support unique retailer initiatives. A custom SPEC instantly gives retailers a unique view of their product inventory. This data allows retailers to make more informed decisions, create a stronger connection with their customers and better position themselves in the marketplace.

							p: a(href="#").btn.btn-primary.btn-lg.round Learn more

					hr

					.product.product-left
						figure
							img(src="/images/illustration_1E.png")
						.description
							h2 Label Insight’s #[span.avoid-wrap Product Data Platform]
							p Label Insight’s product data engine powers retail programs through custom attribution and analysis of retailer inventories. With more than 15,000 attributes per product, actionable insights into how product assortments meet the varied health, wellness, lifestyle, and sustainability concerns of consumers are only a click away.

							p: a(href="#").btn.btn-primary.btn-lg.round Learn more

		include ./includes/_footer.pug