html
	head
		title Label Insight: The Brains Behind Grocery Data
		link(rel="stylesheet" href="styles/style.css")
	body.home
		//- nav.navbar.navbar-inverse.navbar-fixed-top
		//- 	//- logo here
		//- 	ul.nav.navbar-nav
		//- 		li: a(href="#") cpg brands
		//- 		li: a(href="#") retailer
		//- 		li: a(href="#") smartlabel
		//- 		li: a(href="#") about
		//- 		li: a(href="#") blog
		//- 		li: a(href="#") login
				
		.pane.vertical-center.background-blue.pane-top.pane-huge
			.container
				.row
					.content
						h1 We Are The Brains #[span.avoid-wrap Behind Grocery Data.]
						p Label Insight was founded with the mission to help consumers understand what’s in the products they use and consume. Today, our world class solution is transforming the way brands and retailers interact with and share product data.

		#cpg.pane.pane-huge
			.container
				.row
					header
						h1 Making CPG companies more insightful
						p Label Insight helps CPG companies transform basic product information into smart attributes, providing them with a deep understanding of their product set, the power to drive innovation and the ability to easily participate in initiatives such SmartLabel.

					.product.product-right
						figure
							img(src="/images/illustration_1B.png")
						.description
							h2 SmartSPEC for SmartLabel 
							p The modern consumer demands transparency from the products they use and consume. The launch of the SmartLabel transparency initiative meets this need giving consumers easy, instant access to detailed product information. Label Insight’s SmartLabel solution, SmartSPEC, helps CPG companies quickly and easily participate in the SmartLabel transparency initiative. 

							p: a(href="#").btn.btn-primary.btn-lg.round Learn more

					hr

					.product.product-left
						figure
							img(src="/images/illustration_1C.png")
						.description
							h2 Label Insight’s Product Data Platform
							p Our cutting-edge product data engine helps CPG companies transform basic product information into smart attributes. We provide a level of data that is unmatched, generating over 15,000 attributes - such as nutrients and allergens -  per product. These attributes come together to create a deep understanding of a product set and can be easily customized to meet data views requested by retailers and government and industry initiatives. 

							p: a(href="#").btn.btn-primary.btn-lg.round Learn more

		#retailers.pane.pane-huge
			.container
				.row
					header
						h1 Providing Retailers With Actionable Data at their Fingertips
						p Label Insight helps retailers gain deeper insights into their product inventory, creating a stronger connection with their customers and better position themselves in the marketplace.

					.product.product-right
						figure
							img(src="/images/illustration_1D.png")
						.description
							h2 Custom SmartSPECs for Retailers
							p Label Insight helps retailers gain deeper insights into their inventory through the creation of SmartSPECs. A SmartSPEC is a custom set of attributes used to support unique retailer initiatives. A custom SPEC instantly gives retailers a unique view of their product inventory. This data allows retailers to make more informed decisions, create a stronger connection with their customers and better position themselves in the marketplace.

							p: a(href="#").btn.btn-primary.btn-lg.round Learn more

					hr

					.product.product-left
						figure
							img(src="/images/illustration_1E.png")
						.description
							h2 Label Insight’s Product Data Platform
							p Label Insight’s product data engine powers retail programs through custom attribution and analysis of retailer inventories. With more than 15,000 attributes per product, actionable insights into how product assortments meet the varied health, wellness, lifestyle, and sustainability concerns of consumers are only a click away.

							p: a(href="#").btn.btn-primary.btn-lg.round Learn more

		footer.pane.nav-footer
			.container
				.row
					figure.logo
						img(src="/images/footer_logo.png").img-responsive
					ul
						li Social Media
						li #[a(href="#") facebook]
						li #[a(href="#") twitter]
						li #[a(href="#") Linkedin]
						li #[a(href="#") Pinterest]
						li #[a(href="#") Instagram]
					ul
						li Solutions
						li #[a(href="#") For CPG]
						li #[a(href="#") For Retailer]
						li #[a(href="#") SmartLabel]
					ul
						li About
						li #[a(href="#") About Label Insight]
						li #[a(href="#") Our team]
						li #[a(href="#") Investors]
						li #[a(href="#") Newsrooms]
						li #[a(href="#") Careers]
						li #[a(href="#") Blog]
						li #[a(href="#") Contact]
					ul
						li Resources
						li #[a(href="#") FAQs]
						li #[a(href="#") For Developers]
						li #[a(href="#") Submit Package Flats]
						li #[a(href="#") Our Definitions]
					ul
						li Contact
						li #[a(href="#") Support]
						li #[a(href="#") Contact Us]
						li #[a(href="#") Request a Demo]