//- Include mixins
include /_includes/mixins.pug

doctype html
html
	include /_includes/head.pug

	body
	
		include /_includes/nav_top.pug

		

		script(type="text/javascript" src="/scripts/vendor/jquery.min.js")