doctype html
html
	include ./includes/_head.pug

	body.product-detail

		include ./includes/_navigation.pug

		section.pane.pane-top.huge
			.container
				.row
					figure
						img(src="/images/illustration_2.2A.png")
					.description
						h4 SmartSPEC™ for SmartLabel
						h1 Build consumer trust #[span.avoid-wrap through transparency.]
						p.
							Consumers want more transparency from the products they use and consume. SmartLabel provides easy, instant access to detailed product information. 
							SmartSPEC provides a powerful set of tools to get your business up and running with SmartLabel faster, easier and more reliably. 

						p.
							#[a(href="#").btn.btn-primary.btn-lg Request a Demo]
							#[a(href="#").btn.btn-lg Learn more about SmartLabel]

		section.pane.tall.background-green
			.container
				h1 Meet SmartSPEC™, the most comprehensive SmartLabel solution on the market.
				.embed-container 
					iframe(src="https://player.vimeo.com/video/160803542", width="640", height="360", frameborder="0", webkitallowfullscreen mozallowfullscreen allowfullscreen)
				p.
					SmartSPEC helps CPG companies quickly and easily participate in the SmartLabel transparency initiative. Our team of food data and technology experts have deep experience in the industry and and in-depth knowledge of the evolving details of the SmartLabel initiative and can guide you in the right direction.

		section.pane.tall.three-column
			.container
				.row
					.column
						figure.icon
							img(src="/images/icon_SampleA.png")
						h3 Easier Input
						p Label Insight automatically maps 100% of the required SmartLabel attributes and 90% of the voluntary attributes, removing the need to manually input data.

					.column
						figure.icon
							img(src="/images/icon_SampleB.png")
						h3 More robust output
						p Label Insight offers an unmatched level of data, generating 15,000 attributes per product, providing the most comprehensive answers to the questions your customers seek.

					.column
						figure.icon
							img(src="/images/icon_SampleC.png")
						h3 Rapid Turnaround
						p Label Insight can turn around your SmartLabel pages within 24 hours of product flat submission.

		include ./includes/_footer.pug