doctype html
html
	include ./includes/_head.pug

	body.category

		include ./includes/_navigation.pug

		section.pane.huge
			.container
				header
					h1 Making CPG companies more insightful
					p Label Insight helps CPG companies transform basic product information into smart attributes, providing them with a deep understanding of their product set, the power to drive innovation and the ability to easily participate in initiatives such SmartLabel.

				.product.product-right
					figure
						img(src="/images/illustration_1B.png")
					.description
						h2 SmartSPEC for SmartLabel 
						p The modern consumer demands transparency from the products they use and consume. The launch of the SmartLabel transparency initiative meets this need giving consumers easy, instant access to detailed product information. Label Insight’s SmartLabel solution, SmartSPEC, helps CPG companies quickly and easily participate in the SmartLabel transparency initiative. 

						p: a(href="#").btn.btn-primary.btn-lg Learn more

				hr

				.product.product-left
					figure
						img(src="/images/illustration_1C.png")
					.description
						h2 Label Insight’s #[span.avoid-wrap Product Data Platform]
						p Our cutting-edge product data engine helps CPG companies transform basic product information into smart attributes. We provide a level of data that is unmatched, generating over 15,000 attributes - such as nutrients and allergens -  per product. These attributes come together to create a deep understanding of a product set and can be easily customized to meet data views requested by retailers and government and industry initiatives. 

						p: a(href="#").btn.btn-primary.btn-lg Learn more

		section.pane.short.green-grid
			.container
				header
					h1 Our insights are your insights.
					p Contact us today to see our data in action and learn how Label Insight can help you meet your top initiatives.

					p: a(href="#").btn.btn-primary.btn-lg Request a Demo

		include ./includes/_footer.pug