extends /_layouts/default.pug

block title
	title Label Insight: Our Team

block vars
	- var current_section = 'about'
	- var page_type = 'page'

block content
	section.pane.pane-top.blue-grid.huge
		.container
			header
				h1 The people who work at Label Insight share a common set of values that make us unique. 
				p.
					We are innovative problem solvers. We believe in transparency, both in our product and in our work. We have curious minds and aren’t afraid to challenge the status quo. We value scientific inquiry. We aren’t afraid to take risks, and fail fast to learn fast and improve fast. We embrace uniqueness. We are lifelong learners.

	section.pane.gradient
		.container
			header
				h1 Leadership

			ul.leadership
				each i in new Array(10)
					li.leader
						img(src="http://placehold.it/300x300")
						.description
							h3 Paul Schaut
							p Interim CEO

	section.pane.green-grid
		.container
			header
				h1 The Brains Behind The Data
			ul.brainship
				each i in new Array(40)
					li.brain
						img(src="http://placehold.it/160x160")
						.description
							h3 Nando Rossi
							p Designer