//- About page submenu
- var sections_about = [{"id" : "label-insight", "name" : "Label Insight", "url" : "/about"},{"id" : "our-team", "name" : "Our Team", "url" : "/about/our-team"},{"id" : "careers", "name" : "Careers", "url" : "/about/careers"},{"id" : "press", "name" : "Press", "url" : "/about/press"},{"id" : "partners", "name" : "Partners", "url" : "/about/partners"},{"id" : "investors", "name" : "Our Investors", "url" : "/about/investors"},{"id" : "contact", "name" : "Contact", "url" : "/contact"}]

+navigation(sections_about, "about_nav", "menu menu-evenly")