//- About page submenu
- var sections_developers = [{"id" : "developers", "name" : "Developers", "url" : "/developers"},{"id" : "getting-started", "name" : "Getting Started", "url" : "/developers/getting-started"},{"id" : "pricing", "name" : "Pricing", "url" : "/developers/pricing"},{"id" : "faq", "name" : "FAQ", "url" : "/developers/faq"},{"id" : "api status", "name" : "API", "url" : "http://status.io.watchmouse.com/14044/273528/FoodEssentials"},{"id" : "terms-of-service", "name" : "Terms of Service", "url" : "http://developer.foodessentials.com/files/FoodEssentials_API_License_template.pdf"}]

nav(role="navigation")#dev_nav.subnav
	.container-fluid
		+navigation(sections_developers, "dev_nav", "nav")