footer.pane.nav-footer.separator-inverted
	.container-fluid
		.row-fluid
			figure.logo
				a(href="/"): img(src="/images/footer_logo.png")
			ul
				li Social Media
				li #[a(href="https://www.facebook.com/Labelinsight") facebook]
				li #[a(href="https://twitter.com/labelinsight") twitter]
				li #[a(href="https://www.linkedin.com/company/labelinsight-inc-") Linkedin]
				li #[a(href="https://www.pinterest.com/labelinsight") Pinterest]
				li #[a(href="https://www.instagram.com/labelinsight") Instagram]
			ul
				li Solutions
				li #[a(href="/solutions-cpg") For CPG]
				li #[a(href="/solutions-retailers") For Retailers]
				li #[a(href="/smartlabel") SmartLabel]
			ul
				li About
				li #[a(href="/about/") About Label Insight]
				li #[a(href="/about/our-team") Our Team]
				li #[a(href="/about/partners") Partners]
				li #[a(href="/about/investors") Investors]
				li #[a(href="/about/newsrooms") Newsrooms]
				li #[a(href="/about/careers") Careers]
				li #[a(href="/about/blog") Blog]
				li #[a(href="/about/contact") Contact]
				li #[a(href="/about/our-definitions") Our Definitions]
			ul
				li Developers
				li #[a(href="/developers/getting-started") Getting Started]
				li #[a(href="/developers/faqs") FAQs]
			ul
				li Contact
				li #[a(href="/contact") Contact Us]
				li #[a(href="/contact/request-demo") Request a Demo]

script(type="text/javascript" src="/scripts/vendor/jquery.min.js")
script(type="text/javascript" src="/scripts/main.js")