head
	block title
		title Label Insight: The Brains Behind Grocery Data
	link(rel="stylesheet" href="/styles/style.css")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(charset="utf-8")