head
	block title
		title Label Insight: The Brains Behind Grocery Data
	link(rel="stylesheet" href="/styles/style.css")
	meta(content="width=device-width, initial-scale=1.0")

	//- Defines current section for menu customization
	block current_section
		- var selected = 'home'; // Default home