//- Sections Array
//- id / spelled out name / url
- var sections = [{"id" : "home", "name" : "home", "url" : "/"},{"id" : "cpg", "name" : "cpg brands", "url" : "/solutions-cpg"}, {"id" : "retailers", "name" : "retailers", "url" : "/solutions-retailers"},{"id" : "smartlabel", "name" : "smartlabel", "url" : "/solutions-cpg/smartspec-smartlabel"},{"id" : "about", "name" : "about", "url" : "/about"},{"id" : "blog", "name" : "blog", "url" : "#"},{"id" : "login", "name" : "login", "url" : "https://app.labelinsight.com/login"}]

//- Topnav
nav#nav_top(role="navigation").navbar.navbar-default.navbar-fixed-top
	.container
		//- Navbar header
		header.navbar-header
			a(href="/").navbar-brand
				img(src="/images/li_logo_horizontal.svg")

			button(type="button" data-toggle="collapse" data-target="#nav_top_items" aria-expanded="false").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span(class="glyphicon glyphicon-menu-hamburger" aria-hidden="true")

		
		#nav_top_items.collapse.navbar-collapse
			+navigation(sections, "", "nav navbar-nav navbar-right")