//- Sections Array
//- id / spelled out name / url
- var sections = [{"id" : "home", "name" : "home", "url" : "/"},{"id" : "cpg", "name" : "cpg brands", "url" : "/solutions-cpg"}, {"id" : "retailers", "name" : "retailers", "url" : "/solutions-retailers"},{"id" : "smartlabel", "name" : "smartlabel", "url" : "/solutions-cpg/smartspec-smartlabel"},{"id" : "about", "name" : "about", "url" : "/about"},{"id" : "blog", "name" : "blog", "url" : "#"},{"id" : "login", "name" : "login", "url" : "#"}]

//- Topnav
nav#nav_top
	.row
		header
			figure.logo
				a(href="/")
					if current_section === 'home' || current_section === 'about'
						img(src="/images/li_logo_horizontal_white.svg")
					else 
						img(src="/images/li_logo_horizontal.svg")

			.hamburger
				span(class="glyphicon glyphicon-menu-hamburger" aria-hidden="true")

		+navigation(sections, "nav_collapse", "menu menu-collapse")