- var menu = {'cpg brands' : '/solutions-cpg', 'retailers' : '/solutions-retailers', 'smartlabel' : '/solutions-cpg/smartspec-smartlabel', 'about' : '/about', 'blog' : '#', 'login' : '#'};

nav#top_nav.top-nav
	.row
		figure.logo
			if selected === 'home' || selected === 'about'
				img(src="/images/li_logo_horizontal_white.svg")
			else 
				a(href="/")
					img(src="/images/li_logo_horizontal.svg")

		ul.menu
			each val, key in menu
				li
					if selected === key
						a.selected(href=val, title=key)= key
					else
						a(href=val, title=key)= key