- var menu = {"home" : "/", "cpg brands" : "/solutions-cpg", "retailers" : "/solutions-retailers", "smartlabel" : "/solutions-cpg/smartspec-smartlabel", "about" : "/about", "blog" : "#", "login" : "#"};

nav#nav_top
	.row
		header
			figure.logo
				a(href="/")
					if selected === 'home' || selected === 'about'
						img(src="/images/li_logo_horizontal_white.svg")
					else 
						img(src="/images/li_logo_horizontal.svg")

			.hamburger
				span(class="glyphicon glyphicon-menu-hamburger" aria-hidden="true")
					
		ul#nav_collapse.menu
			each val, key in menu

				if key === 'home'
					li(class='nav-home')
						if selected === key && key
							a.selected(href=val, title=key)= key
						else
							a(href=val, title=key)= key
				else
					li
						if selected === key && key
							a.selected(href=val, title=key)= key
						else
							a(href=val, title=key)= key