extends /_layouts/default.pug

block title
	title Label Insight: Our Partners

block vars
	- var current_section = 'about'
	- var page_type = 'page'

block content
	section.pane.pane-top.blue-grid
		.container
			header
				include /_includes/about_nav.pug
				
				h1 Partners
				p.
					Label Insight teams up with a diverse group of technology, consulting, services and industry partners that apply their expertise on top of our data and technology to create new solutions for brands and retailers.
	section.pane
		.partners
			.row
				+partnerBlock(
					"nielsen",
					"Nielsen",
					"Nielsen Holdings plc (NYSE: NLSN) is a global performance management company that provides a comprehensive understanding of what consumers watch and buy. Nielsen's Watch segment provides media and advertising clients with Total Audience measurement services for all devices on which content—video, audio and text—is consumed. The Buy segment offers consumer packaged goods manufacturers and retailers the industry's only global view of retail performance measurement. By integrating information from its Watch and Buy segments and other data sources, Nielsen also provides its clients with analytics that help improve performance. Nielsen, an S&P 500 company, has operations in over 100 countries, covering more than 90% of the world's population."
				)

				+partnerBlock(
					"1worldsync",
					"1WorldSync",
					"1WorldSync is the leading multi-enterprise product information network, helping more than 17,000 global brands and their trading partners in 60 countries – share authentic, trusted content in the hands of their customers and consumers, empowering them to make the right choices, purchases or health and lifestyle decisions.<br>Through its solutions, technology platform and expert services, 1WorldSync provides solutions that meet the diverse needs of its customers."
				)

				+partnerBlock(
					"kpmg",
					"KPMG",
					"KPMG Capital focuses on investments and opportunities in the Data & Analytics space.<br>KPMG Capital Limited and KPMG Capital Holding Limited comprise an investment fund for KPMG member firms. The investment fund is not open to third-party investment and will not, itself, provide professional services to clients.  KPMG Capital Limited and KPMG Capital Holding Limited are legally distinct and separate from KPMG International Cooperative and each KPMG member firm."
				)

	+paneFinalCloser(
		"Interested in joining our partner ecosystem to develop cutting-edge solutions for brands and retailers?",
		"",
		"Contact Us",
		"/contact"
	)