extends /_layouts/product-detail.pug

block title
	title Label Insight: Our Partners

block content
	section.pane.pane-top.blue-grid
		.container
			header
				p.
					Label Insight teams up with a diverse group of technology, consulting, services and industry partners that apply their expertise on top of our data and technology to create new solutions for brands and retailers. 