//- nav
//- 	//- logo here
//- 	ul#menu.slicknav_menu
//- 		li: a(href="#") cpg brands
//- 		li: a(href="#") retailer
//- 		li: a(href="#") smartlabel
//- 		li: a(href="#") about
//- 		li: a(href="#") blog
//- 		li: a(href="#") login