footer.pane.nav-footer.separator-inverted
	.container
		.row
			figure.logo
				img(src="/images/footer_logo.png")
			ul
				li Social Media
				li #[a(href="#") facebook]
				li #[a(href="#") twitter]
				li #[a(href="#") Linkedin]
				li #[a(href="#") Pinterest]
				li #[a(href="#") Instagram]
			ul
				li Solutions
				li #[a(href="#") For CPG]
				li #[a(href="#") For Retailer]
				li #[a(href="#") SmartLabel]
			ul
				li About
				li #[a(href="#") About Label Insight]
				li #[a(href="#") Our team]
				li #[a(href="#") Investors]
				li #[a(href="#") Newsrooms]
				li #[a(href="#") Careers]
				li #[a(href="#") Blog]
				li #[a(href="#") Contact]
			ul
				li Resources
				li #[a(href="#") FAQs]
				li #[a(href="#") For Developers]
				li #[a(href="#") Submit Package Flats]
				li #[a(href="#") Our Definitions]
			ul
				li Contact
				li #[a(href="#") Support]
				li #[a(href="#") Contact Us]
				li #[a(href="#") Request a Demo]