extends /_layouts/default.pug

block title
	title Label Insight: Pricing

block vars
	- var current_section = 'getting-started'
	- var page_type = 'page'

block content
	section.pane.pane-top.blue-grid.short
		.container
			header
				//- include /_includes/developers_nav.pug

				h1 Pricing
				p Label Insight is a collaborative platform that lets you search and analyze product data in the current retail marketplace. Register and Submit your products for free today. Join as a professional for the industry's most up-to-date, comprehensive, and accurate retail product label data and analyisis.

	section.pane
		.container
			.row
				.pricing-box
					header
						h2 Take a demo
						p Get a Perzonalised Product Tour
					
					section.details
						ul
								li Speak with a Label Insight representative to learn more about our role in helping CPGs & Retailers keep product data updated

								li Ask questions or raise any concerns you may have around your product data

								li Learn how Label Insight is pioneering product data digitization and attribution for CPG, retail, and government

								li Discover how to take full control of your data as it is represented to your key retail partners

					section.price
						h3 Free

					h3
						a(href="https://app.labelinsight.com/register/demo/", title="Take a Demo").cta Take a Demo

				.pricing-box
					header
						h2 Register & Submit
						p Free Unlimited Product Submission

					section.details
						ul
							li Once you have access to your brand's packaging flats and marketing images, you're ready to begin. It's that simple!

							li Submit your products to Label Insight using our free, quick, and easy drag-and-drop process

							li Label Insight will digitize your products so that you and your retail partners can see all of your product data

							li Your products will be entered into our retailer network representing 70% of the current market by sales volume reaching all 50 states

					section.price
						h3 Free
					h3
						a(href="https://app.labelinsight.com/register/submit/", title="Register & Submit").cta Register & Submit
				
				.pricing-box
					header
						h2 Sign Up for Pro
						p Unlock Full Professional Suite

					section.details
						ul
							li Search the entire live marketplace of more than 150,000 products from over 17,000 brands scored for more than 15,000 attributes

							li See your products in context against any competing products or category grouping with visual analysis and charting

							li Advanced product dashboard showing the industry's most comprehensive set of product attributes including FDA, GS1, and PHA attributes

							li Total customer support from product submission through maximizing Label Insight to analyze and compare your products and the marketplace
					section.price
						h3 $25k per year

					h3
						a(href="https://app.labelinsight.com/register/pro/li", title="Sign up for Pro").cta Sign Up for Pro