extends /_layouts/default.pug

block title
	title Label Insight: Pricing

block vars
	- var current_section = 'developers'
	- var page_type = 'page'

block content
	section.pane.pane-top.blue-grid.short
		.container
			header
				include /_includes/developers_nav.pug

				h1 Pricing
				p Label Insight is a collaborative platform that lets you search and analyze product data in the current retail marketplace. Register and Submit your products for free today. Join as a professional for the industry's most up-to-date, comprehensive, and accurate retail product label data and analyisis.

	section.pane
		.container
			.table-big
				table.table.table-hover.pricing-table
					thead
						tr
							th  
							th Public
							th Premium
							th Enterprise

					tbody
						tr
							td Cost
							td FREE
							td $99 Per month (one year)
							td Custom
						tr
							td Throttle
							td 1000 Calls per day
							td UNLIMITED (users & calls)
							td UNLIMITED (users & calls)
						tr
							td Customer Support
							td Email
							td Email & Phone
							td Email & Phone
						tr
							td Account Manager
							td No
							td Yes
							td Yes
						tr
							td SLA (Uptime)
							td No Guarantee
							td 99.%
							td 99.%
						tr
							td Application
							td Public & Free
							td Any
							td Any
						tr
							td
								| Install Data SDK
								sup 1
							td Required
							td Required
							td Optional
						tr
							td  
							td
								a(href='#') Let’s Get Started
								sup 2
							td
								a(href='#') Contact Us
							td
								a(href='#') Contact Us

			p
				sup 1
				|	Coming soon, we will have a data collection SDK (presently for IOS only) that we will require all relevant developers to install. It is designed to ensure that we have the most relevant product label data for your community of users.

			p
				sup 2
				|	It is required to complete and return the
				strong
					a(href='#') Label Insight API License Agreement
				|	for API approval.
