extends /_layouts/default.pug

block title
	title Label Insight: Make the world more insightful

block content
	section.pane.pane-top.huge.careers.inverted.vertical-center
		.container
			header
				h1 Make the world more insightful
				p It’s an exciting time to work at Label Insight, and we’re always on the lookout for insightful people to join our team. 

	section.pane.gradient
		.container
			header
				h1 Available positions

			script(type="text/javascript" src="//app.jazz.co/widgets/basic/create/LabelInsight" charset="utf-8")